.wrapper {
    background-color: var(--secondary-backround-color);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid black;
  }

  .WebTitle {
    font-size: 2.2rem;
    color: var(--primary-text-color);
    text-decoration: none;
  }
  
  .links {
    display: flex;
    gap: 1rem;
  }
  
  .links a {
    color: var(--primary-text-color);
    text-decoration: none;
    transition: 0.25s;
  }

  .links a:hover{
    color: rgb(255, 255, 255);
    font-size: 19px;
    transition: 0.2s;
  }
  
  .burgerBtn {
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .burgerBtn img {
    width: 100%;
    height: 100%;
  }
  
  .mobileMenu {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .wrapper nav {
      display: none;
    }
  
    .burgerBtn {
      display: block;
    }
  
    .mobileMenu {
      display: flex;
      justify-content: center;
      background-color: var(--secondary-backround-color);
      position: fixed;
      width: 100%;
      height: calc(100vh - 80px);
      bottom: -100%;
      left: 0;
      transition: 0.4s;
      opacity: 0;
    }
  
    .mobileMenuOpen {
      bottom: 0;
      opacity: 1;
      transition: 0.4s;
    }
  
    .mobileLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      padding-top: 7rem;
    }

    .mobileLinks a{
      color: white;
      font-size: 25px;
      transition: 0.3s;
    }

    .mobileLinks a:hover{
      transition: 0.2s;
      font-size: 27px;
      cursor: pointer;
    }
  }