.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    width: 32rem;
}

.form input {
    padding: 0.7rem;
}

.form button:hover {
    background-color: rgb(204, 204, 204);
}

.error {
    color: var(--color-danger);
}