.questionWrapper {
    margin: auto;
    width: 70%;
}

.question {
    margin-bottom: 20px;
    border: solid black 2px;
}

.answers {
    margin-top: 20px;
    border: solid black 2px;
}

.answer {
    margin-bottom: 10px;
}