/* .wrapper {
    width: 13rem;
    height: 20rem;
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: 0.3s;
  } */

  .wrapper {
    margin: auto;
    width: 55%;
    transition: 0.4s;
  }
  
  .wrapper:hover {
    scale: 1.03;
  }
  

  .infoCard {
    border: solid black 2px;
    padding: 1rem;
  }
  .infoCard h2 {
    font-size: 28px;
  }
  .infoCard h3{
    font-size: 12px;
  }

  
  @media only screen and (max-width: 550px) {
    .wrapper {
      width: 100%;
    }
  }