.qcardsWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 6.75rem;
    background-color: var(--primary-backround-color);
  }
  
  @media only screen and (max-width: 768px) {
    .qcardsWrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .qcardsWrapper {
      grid-template-columns: 1fr;
    }
  }