.qcardsWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background-color: var(--primary-backround-color);
  }
  
  @media only screen and (max-width: 768px) {
    .qcardsWrapper {

    }
  }
  
  @media only screen and (max-width: 550px) {
    .qcardsWrapper {
    }
  }